# IntelliJ
*.iml
.idea

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Grunt / yeoman
yo/.sass-cache/
yo/.tmp/
yo/dist/
yo/node_modules
yo/app/bower_components